.mouser-container {
  height: 40px;
  width: 40px;
  background: rgba(248, 148, 6, 0.9);
  position: absolute;
  top: 0;
  left: 1;
  opacity: 0;
  -moz-box-shadow: 0 0 1px #aaaaaa;
  -webkit-box-shadow: 0 0 1px #aaaaaa;
  -o-box-shadow: 0 0 1px #aaaaaa;
  box-shadow: 0 0 1px #aaaaaa; }
  .mouser-container .mouser-pointer {
    height: 24px;
    width: 24px; }
  .mouser-container .pulsar {
    height: 60px;
    width: 60px;
    left: -12px;
    top: -12px; }
  .mouser-container .mouser-pointer {
    margin: 0;
    background: none; }
  .mouser-container .pulsar {
    position: absolute; }
  .mouser-container .pulse {
    border: 2px solid #999999;
    -webkit-animation: pulse 1s ease-out infinite;
    -moz-animation: pulse 1s ease-out infinite;
    -ms-animation: pulse 1s ease-out infinite;
    -o-animation: pulse 1s ease-out infinite;
    animation: pulse 1s ease-out infinite; }

.visible {
  opacity: 1; }
  .visible:hover {
    opacity: 0.3;
    cursor: pointer; }

.active {
  background: rgba(248, 148, 6, 0.3); }

.mouser-circle, .mouser-container, .mouser-container .pulsar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.mouser-transitions, .mouser-container, .visible:hover {
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.mouser-next-link-container {
  border-top: 1px solid #eeeeee;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  text-align: right; }
  .mouser-next-link-container a {
    padding: 5px; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; }

  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }

/* Gecko/Firefox */
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; }

  100% {
    -moz-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }

/* Presto/Opera */
@-o-keyframes pulse {
  0% {
    -o-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; }

  100% {
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }

/* Standard */
@keyframes pulse {
  0% {
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    transform: scale(1.5);
    opacity: 0; }

  100% {
    transform: scale(2.5);
    opacity: 0; } }

body {
  padding-top: 60px;
  background-image: url(../img/ecailles.png);
  background-size: auto;
  background-repeat: repeat repeat; }

.container {
  width: auto; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center-align, section#section-demo .half-col {
  text-align: center; }

.clearfix, section.content-section, section#section-demo .demo-row {
  *zoom: 1; }
  .clearfix:before, section.content-section:before, section#section-demo .demo-row:before, .clearfix:after, section.content-section:after, section#section-demo .demo-row:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after, section.content-section:after, section#section-demo .demo-row:after {
    clear: both; }

.half-col {
  width: 50%;
  float: left; }

.light-box {
  max-width: 400px;
  background: #fefefe;
  border: 1px solid #eeeeee;
  margin: 0px auto;
  padding: 40px;
  box-shadow: 0px 1px 6px #dddddd; }
  .light-box header {
    text-align: center; }

section.content-section {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 40px; }
  section.content-section code {
    display: inline-block;
    max-width: 360px;
    width: 90%;
    margin: 0px auto;
    padding: 15px;
    overflow: scroll; }

section#section-jumbo #jumbo {
  text-align: center; }
  section#section-jumbo #jumbo h1 {
    font-size: 64px;
    line-height: 80px; }
  section#section-jumbo #jumbo #mouser-box {
    padding-top: 80px; }
  section#section-jumbo #jumbo .actions {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee; }

section#section-demo .demo-row {
  padding: 40px 0 20px;
  border-top: 1px solid #eeeeee;
  margin-top: 20px; }
  section#section-demo .demo-row.first {
    border-top: none;
    padding-top: 20px; }
section#section-demo .well {
  height: 40px;
  width: 40px;
  margin: 0px auto; }

section#section-usage li {
  padding-bottom: 10px; }

#styled-mouser {
  height: 60px;
  width: 60px;
  background: rgba(4, 156, 219, 0.9); }
  #styled-mouser .mouser-pointer {
    height: 36px;
    width: 36px; }
  #styled-mouser .pulsar {
    height: 90px;
    width: 90px;
    left: -18px;
    top: -18px; }
  #styled-mouser .mouser-pointer {
    background: url("../img/pointer.png") center center no-repeat;
    background-size: contain;
    margin: 12px auto; }

footer {
  background: #333333;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 16px; }
  footer div.wrapper {
    max-width: 480px;
    margin: 0 auto;
    padding: 70px 0px 70px;
    position: relative; }

@media (max-width: 480px) {
  body {
    padding-left: 20px;
    padding-right: 20px; }

  footer .half-col {
    display: block;
    width: auto;
    padding: 10px 20px; }
  footer .right-align {
    text-align: left; } }
